body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}
.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: #eee;
	padding: 20px;
	width: 100%;
	max-width: 900px;
	border-radius: 20px;
	.lock & {
		visibility: visible;
	}
}



#request {
	backdrop-filter: blur(40px);
	background: rgba(31, 77, 102, 0.5);

	.popup__content {
		border-radius: 2px;
		max-width: 1340px;
		height: 92vh;
		background: url('@img/bg-popup.jpg') center center / cover no-repeat;
		overflow: auto;
		@include adaptiveValue("padding-top", 80, 40);
		@include adaptiveValue("padding-bottom", 80, 40);
		@include adaptiveValue("padding-left", 70, 10);
		@include adaptiveValue("padding-right", 70, 10);
	}

	.send-request__title, .send-request__description, input, textarea, select, input::placeholder, textarea::placeholder, .select__title, .select__option {
		color: #fff;
	}
	input, textarea, select, .select__title {
		cursor: default;
		background: rgba(255, 255, 255, 0.05);
		@media (any-hover: hover) {
			&:hover {
				background: rgba(255, 255, 255, 0.05);
				cursor: default;
			}
		}
	}
	.select__value:after {
		background: url('@img/arrow-select-white.svg') center center no-repeat;
	}
	.select__options {
		background-color: #2C5265;
	}
	.select__option {
		border-bottom: 2px dotted rgba(255, 255, 255, 0.212);

		@media (any-hover: hover) {
			&:hover {
				color: #C7FF00;
				background-color: #2C5265;
			}
		}
	}

}