a {
	color: #2977c1;
	text-decoration: underline;
}
a:hover {
	color: #1c568d;
}
a:active {
	color: #6497c6;
}
.swiper a {
	text-decoration: none;
}
a.button {
	height: 50px;
	flex: 0 1 fit-content;
	width: fit-content;
	border: none;
	padding: 33px 60px; 
	font-weight: 700;
	line-height: 100%;
	font-size: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
	background: #2A313A;
	color: #fff;
	text-decoration: none;

	@media (max-width:$tablet){
		font-size: 20px;
		padding: 27px 45px; 
	}

	@media (max-width:$mobile){
		font-size: 16px;
		padding: 22px 34px; 
	}
}
a.button:hover {
	background-color: #4A6371; 
}
a.button:active {
   background-color: #394451; 
}
a.button-yellow {
	background-color: $yellowColor; 
	color: #343A42 !important;
}
a.button-yellow:hover {
	background-color: #DBFF5C; 
}
a.button-yellow:active {
   background-color: #AADA00; 
}

.text-yellow {
	color: #AADA00; 
}
.section-title {
	font-weight: 400;
	font-size: 30px;
	line-height: 100%;
	color: #343a42;
	border-bottom: 3px dotted #343A42;
	margin-bottom: 40px;

	@media (max-width:$mobileSmall){
		font-size: 24px; 
	}
}
.section-title-text {
	background-color: #fff;
	padding: 0 20px 0 0;
	margin-bottom: -5px;
	width: fit-content;
}
.section-title-white {
	color: #fff;
	border-bottom: 3px dotted #fff;

	.section-title-text {
		background: url('@img/border.jpg') center bottom / 100% 10px no-repeat;
	}
}
.about .section-title-white .section-title-text {
  background: url('@img/bg-border-bottom.jpg') center bottom/100% 10px no-repeat
}
.popup__content {
	padding: 0;
	box-shadow: 0 0 120px 0 rgba(22, 38, 47, 0.4);
	background: #e2e5ea;
}
.popup__close {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 2;
	outline: none;
}
.load-more {
	margin: 30px auto 0;
	display: block;
	border-bottom: 1px solid #343a42ef;

	span {
		display: block;
		width: fit-content;
		font-size: 20px;
		font-weight: 700;
		color:#364254;
		background-color: #fff;
		margin: 0 auto -10px;
		padding: 0 30px;
		cursor: pointer;
	}

	@media (max-width:$tablet){
		display: none;
	}
}






.breadcrumbs {

	ul {
		display: flex;
		align-items: center;
		gap: 20px;

		li {
			display: flex;
			align-items: center;
			gap: 20px;
			&:not(:last-child) {
				
				&::after {
					content:'';
					display: block;
					width: 24px;
					height: 24px;
					background: url('@img/icon-arrow-white.svg') center center no-repeat;
				}
			}
		}
	}

	.home-link {
		width: 24px;
		height: 24px;
		background: url('@img/icon-home-white.svg') 0 0 no-repeat;
		@media (any-hover: hover) {
			&:hover {
				background: url('@img/icon-home-yellow.svg') 0 0 no-repeat;
			}
		}
	}
}

