.main {
	position: relative;
	min-height: calc(100vh - 90px);
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	gap: 50px;
}

.main__background-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}
.main__bg-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	background: url('@img/bg-main-pc.jpg') 0 0 / cover no-repeat;
	z-index: -1;
}

.main__container {
	position: relative;
	z-index: 1;
	color: white;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	gap: 50px;
}

.main__wrapper {
	padding: 50px 0;
	margin: auto 0;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	gap: 50px;
}
.main__title {
	font-style: italic;
	font-weight: 800;
	font-size: 110px;
	letter-spacing: -0.04em;
	text-align: left;
	line-height: 100%;

	@media (max-width:$pc){
		font-size: 9vw;
	}
	@media (max-width:$mobile){
		font-size: 10vw;
	}
	@media (max-width:$mobileSmall){
		font-size: 12vw;
	}

	span {
		display: block;
	}
}
.main__description {
	font-weight: 500;
	line-height: 140%;
	color: #fff;
	@include adaptiveValue("font-size", 40, 20);
}
.main .projects__slider {
	margin: 0 auto 8px;
	min-width: 0;
	width: 100%;
	max-width: 1500px;
	padding: 0 10px;

	@media (max-width: 1530px){
		max-width: 100%;
	}
}
.projects__slide {
	width: 300px;
	flex: 0 0 300px;
	min-width: 0;
	padding: 0 4px;

	@media (max-width:$mobile){
		width: 180px;
		flex: 0 0 180px; 
	}

	.swiper-slide__wrapper {
		position: relative;
		width: 100%;
		padding-bottom: 60.5%;
		position: relative;
		overflow: hidden;

		a {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 18px;
			font-weight: 600;
			font-size: 18px;
			line-height: 100%;
			color: #fff;

			@media (max-width:$mobile){
				 font-size: 14px; 
				 padding: 10px;
			}
			
			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				z-index: -1;
				transition: transform 0.3s ease 0s; 

				
			}

			@media (any-hover: hover) {
				&:hover {

					img {
						cursor: pointer;
						transform: scale(1.03);
					}
					
				}
			}
		}
		a.check-all-projects {
			display: block;
			width: calc(100% - 6px);
			backdrop-filter: blur(12px);
			background: rgba(230, 230, 230, 0.1);
			border: 2px solid #fff;
			
			img {
				position: absolute;
				display: block;
				width: 32px;
				height: 32px;
				left: initial;
				right: 8px;
				top: initial;
				bottom: 8px;

				@media (max-width:$mobile){
					width: 24px;
					height: 24px;
				}
			}

			@media (any-hover: hover) {
				&:hover {

					img {
						cursor: pointer;
						transform: scale(1.13);
					}
					
				}
			}
		}

		.check-text {
			position: absolute;
			top: 18px;
			left: 18px;
			font-weight: 500;
			font-size: 26px;
			line-height: 100%;
			color: #fff;

			@media (max-width:$mobile){
				 font-size: 16px; 
				 top: 10px;
				left: 10px;
			}
		}

	}
}

